.specification-section {
    background-color: rgb(26, 36, 44);
    padding-top: 100px;
    text-align: center;
}

.specification-section-one {
    display: flex;
    justify-content: space-around;
}

.spec-left img {
    width: 350px;
    padding-top: 50px;
}

.spec-right {
    text-align: center;
    line-height: 30px;
}

.spec-right h2 {
    font-size: 35px;
    font-family: 'Oswald';
}

.specification-section-two {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 100px;
}